.gradient-glow {
  background: linear-gradient(90deg, #1efcde, #ff02d7, #1efcde);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation:
    gradientShift 8s ease infinite,
    glow 2s ease-in-out infinite;
  filter: drop-shadow(0 0 10px rgba(100, 148, 255, 0.5));
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
